<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
</head>
<body>
  <h1>Create Account</h1>
  <form action="/accounts/create" method="post">
    <label for="account_number">Account Number:</label>
    <input type="text" id="account_number" name="account_number" required><br><br>
    <label for="name">Account Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <input type="submit" value="Create Account">
</form>
</body>
</html>
